/* body{
    background: yellow !important;
} */

@media(max-width:600px){
    .support_box{
        flex-direction: column !important;
    }
    .support_box label{
        margin-bottom: 10px;
    }
}